# For, if, while

### Вводная работа со списками и словарями

In [5]:
apples = 5

while apples > 0:
    print('I have aplles:', apples)
    apples -=1
else:
    print('The loop is over')

I have aplles: 5
I have aplles: 4
I have aplles: 3
I have aplles: 2
I have aplles: 1
The loop is over

In [6]:
word = 'Слово'

for i in word:
    print(i)

С
л
о
в
о

In [8]:
list_1 = ['Dog', 'God', 'Life', 'John']

for i in list_1:
    print(i)

Dog
God
Life
John

In [9]:
seasons = {1: 'Summer', 2: 'Autumn', 3: 'Spring'}

for s in seasons:
    print('Номер сезона:', s)
    print('Название сезона:', seasons[s])

Номер сезона: 1
Название сезона: Summer
Номер сезона: 2
Название сезона: Autumn
Номер сезона: 3
Название сезона: Spring

In [10]:
for i in 'Letter':
    if i == 't':
        continue
    print(i)

L
e
e
r

In [25]:
for i in ['John', 'Kirill', 'Dima', 'Sarah', 'Jimmy']:
    if i == 'Sarah':
        break
    print(i)

John
Kirill
Dima

In [29]:
lst = [2, 4, 5, 8, 9, 13]
for number in range(len(lst)):
    lst[number] *= number
print(lst)

[0, 4, 10, 24, 36, 65]

### Четность числа

In [39]:
num = int(input('Вводимое число:'))

if num%2 == 0:
    print('Число является четным')
else:
    print('Число является нечетным')

Вводимое число:22
Число является четным

### Високосный год

In [43]:
year = int(input('Год:'))

if year%4 == 0:
        if year%100 == 0:
                if year%400 == 0:
                    print('Год високосный')
                else:
                    print('Год не високосный')
        else:
            print('Год високосный')
else: 
    print('Год не високосный')

Год:2300
Год не високосный

### Наибольшее из 3-х чисел

In [74]:
num_1 = float(input('Число_1 '))
num_2 = float(input('Число_2 '))
num_3 = float(input('Число_3 '))

if num_1 > num_2:
    if num_1 > num_3:
        print('Число_1 наибольшее')
    else:
        print('Число_3 наибольшее')
else: 
    if num_2 > num_3:
        print('Число_2 наибольшее')
    else:
        print('Число_3 наибольшее')

Число_1 2
Число_2 76
Число_3 13
Число_2 наибольшее

### Вывод всех простых чисел в интервале

In [73]:
a = []
b = int(input('Число 1 '))
c = int(input('Число 2 '))

for num in range (b, c):
    if num > 1:
        for i in range(2, num): 
            if num%i == 0:
                break
        else:
            a.append(num)
print('Все простые числа: ', a)

Число 1 2
Число 2 17
Все простые числа:  [2, 3, 5, 7, 11, 13]

### Факториал числа

In [43]:
num = int(input('Число: '))
a = 1
if num > 0:
    for i in range (1, num+1):
        if i > 1:
            a = i*a
elif num == 0:
    print(1)
else:
    print('Факториала не существует')

Число: -23
Факториала не существует

### Python таблица умножения

In [71]:
num = int(input('Число: '))
a = []

for i in range(1, 11):
    b = num*i
    a.append(b)
print(a)

Число: 9
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

### Числа фибоначчи python

In [52]:
nterms = int(input("Количество элементов последовательности "))
n_1, n_2 = 0, 1
counts = 0

if nterms <= 0:
    print('Введите положительное число')
elif nterms == 1:
    print('Последовательность Фибоначчи:', nterms, ':')
    print(n_1)
else:
    while counts < nterms:
        print(n_1)
        nth = n_1+n_2
        n_1 = n_2
        n_2 = nth
        counts += 1

Количество элементов последовательности 2
0
1

### Сумма натуральных чисел Python

In [64]:
# Более подробное

numbers = int(input('Введите количество элементов '))
n_1 = 0

if numbers <= 0:
    print('Введите положительное число')
else:
    for i in range(1, numbers+1):
        n_1 = i+n_1
    print('Сумма натуральных чисел равняется', n_1)

Введите количество элементов 120
Сумма натуральных чисел равняется 7260

In [63]:
# Более простой вариант

n = 0
for i in range (1, 101): # Тут надо задавать верхнюю границу, можно записать переменную
    n = i+n
print('Сумма натруальных чисел равняется', n)

Сумма натруальных чисел равняется 5050

### Перебор словаря

In [66]:
# И ключ, и значение

dct = {'Position': 'FRW', 'Gpals': '12', 'G/A': '21'}

for key, value in dct.items():
    print(key, value)

Position FRW
Gpals 12
G/A 21

In [67]:
# Только ключ

for key in dct.keys():
    print(key)

Position
Gpals
G/A

In [68]:
# Только значения

for value in dct.values():
    print(value)

FRW
12
21

### Реверс числа

In [70]:
num = 3546773

a = (str(num)[::-1])
print('Реверс числа: ', a)

Реверс числа:  3776453